@font-face{
    font-family: Lato;
    src:url(assets/fonts/Lato.ttf);
}
:root {
    --gold:#F2C57C;
    --fawn:#DDAE7E;
    --independence:#444054;
    --purple:#2F243A;
    --white:#F1FFFA;
    --green:#32A287;
}

.homeHeader {
    color:var(--white);
    background-color:var(--independence);
    padding:5%;
}

.inglist {
    color:var(--purple);
    display:inline-block;
    flex-wrap:nowrap;
    list-style:none;
}

.inglist li a{
    display:inline-block;
}
.inglist li{
    margin-left:-20%;
}

.order{
    padding: 20%;
    border-radius:5px;
    background-color:var(--green);
    color:var(--white);
    border:none;
    margin-left:50%;
    font-family:'Lato';

    transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out; 
    -ms-transition: background-color 300ms ease-in-out;
}

.inglist li button:hover{
    background-color:var(--independence);
}

.inglist p{
    margin-right:-5%;
}

.bg {
    background-color:var(--white);
    font-family:'Lato';
    min-width:200px;
}

.order {
}

.footer {
    position: relative;
    background-color: var(--independence);
    color: var(--white);
    padding:5%;
    padding-top:1%;
    padding-bottom:1%;
}
