:root {
    --gold:#F2C57C;
    --fawn:#DDAE7E;
    --independence:#444054;
    --purple:#2F243A;
}

.homeHeader {
    color:var(--purple);
}

.inglist {
    color:var(--purple);
    display:inline-block;
    flex-wrap:nowrap;
}

.inglist div{
    padding:2%;

}

.inglist p{
    margin-right:-5%;
}

.bg {
    background-color:var(--gold);
}