@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato.ttf);
}

:root {
    --gold:#F2C57C;
    --fawn:#DDAE7E;
    --independence:#444054;
    --purple:#2F243A;
}

.homeHeader {
    color:var(--purple);
}

.inglist {
    color:var(--purple);
    font-family: 'Lato';
    display:inline-block;
    flex-wrap:nowrap;
}

.inglist div{
    padding:2%;
}

.inglist div button{
    padding:2%;
    border-radius:25%;
    border:0.1%;
    border-color:var(--fawn)
}

.inglist p{
    margin-right:-5%;
}

.bg {
    background-color:var(--gold);
    border:50%;
    border-color:var(--purple);
}

.order {
}